@font-face {
  font-family: "MD Lorien";
  src: url("https://enscribe.dev/fonts/MDLorien-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MD Lorien";
  src: url("https://enscribe.dev/fonts/MDLorien-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

main {
  font-family:
    "MD Lorien",
    ui-serif,
    "Iowan Old Style",
    Charter,
    Georgia,
    serif;
  font-size: 0.9375rem;
}

main .gsc-comments-count,
main :is(strong, b) {
  font-weight: 400;
}

main .gsc-left-header,
main .gsc-upvote-button,
main .gsc-reactions-button {
  display: none;
}

main .gsc-replies {
  padding-top: 0;
  background: var(--color-canvas-subtle) !important;
  border-radius: 0 !important;
}

main textarea::placeholder {
  color: var(--color-fg-subtle);
  opacity: 1;
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-default.gif");
}

main .pagination-loader-container {
  background-image: none;
}
