@import url("./base.css");

main {
  --color-canvas-default:  #11100e;
  --color-canvas-subtle:   #1d1b19;
  --color-canvas-inset:    #282622;
  --color-canvas-overlay:  #1d1b19;

  --color-border-default:  #34312c;
  --color-border-muted:    #282622;
  --color-neutral-muted:   rgb(52 49 44 / 0.5);

  --color-fg-default:      #feead0;
  --color-fg-muted:        #afa391;
  --color-fg-subtle:       #918879;

  --color-accent-fg:       #70b8ff;
  --color-accent-emphasis: #70b8ff;
  --color-accent-muted:    rgb(112 184 255 / 0.4);
  --color-accent-subtle:   rgb(112 184 255 / 0.12);

  --color-success-fg:      #3dd68c;
  --color-attention-fg:    #f5e147;
  --color-attention-muted: rgb(245 225 71 / 0.4);
  --color-attention-subtle: rgb(245 225 71 / 0.1);
  --color-danger-fg:       #ff9592;
  --color-danger-muted:    rgb(255 149 146 / 0.4);
  --color-danger-subtle:   rgb(255 149 146 / 0.1);

  --color-btn-text:          #feead0;
  --color-btn-bg:            #1d1b19;
  --color-btn-border:        #34312c;
  --color-btn-hover-bg:      #282622;
  --color-btn-hover-border:  #403c36;
  --color-btn-active-bg:     #34312c;
  --color-btn-active-border: #4d4840;
  --color-btn-selected-bg:   #34312c;
  --color-btn-shadow:        0 0 transparent;
  --color-btn-inset-shadow:  0 0 transparent;

  --color-btn-primary-text:            #11100e;
  --color-btn-primary-bg:              #eedbc3;
  --color-btn-primary-border:          #eedbc3;
  --color-btn-primary-hover-bg:        #decdb6;
  --color-btn-primary-hover-border:    #decdb6;
  --color-btn-primary-selected-bg:     #feead0;
  --color-btn-primary-disabled-bg:     #726b5f;
  --color-btn-primary-disabled-text:   rgb(17 16 14 / 0.7);
  --color-btn-primary-disabled-border: transparent;
  --color-btn-primary-shadow:          0 0 transparent;
  --color-btn-primary-inset-shadow:    0 0 transparent;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-primer-shadow-inset:         0 0 transparent;

  --color-social-reaction-bg-hover:         #282622;
  --color-social-reaction-bg-reacted-hover: #34312c;

  --color-segmented-control-bg:                     #1d1b19;
  --color-segmented-control-button-bg:              #11100e;
  --color-segmented-control-button-selected-border: #34312c;
  --color-action-list-item-default-hover-bg:        #282622;

  --color-scale-gray-7: #918879;
  --color-scale-blue-8: #70b8ff;

  --color-prettylights-syntax-comment:                    #918879;
  --color-prettylights-syntax-constant:                   #70b8ff;
  --color-prettylights-syntax-constant-other-reference-link: #4ccce6;
  --color-prettylights-syntax-entity:                     #e796f3;
  --color-prettylights-syntax-entity-tag:                 #3dd68c;
  --color-prettylights-syntax-keyword:                    #ff9592;
  --color-prettylights-syntax-string:                     #4ccce6;
  --color-prettylights-syntax-string-regexp:              #3dd68c;
  --color-prettylights-syntax-variable:                   #ffa057;
  --color-prettylights-syntax-storage-modifier-import:    #feead0;
  --color-prettylights-syntax-meta-diff-range:            #e796f3;
  --color-prettylights-syntax-markup-heading:             #70b8ff;
  --color-prettylights-syntax-markup-bold:                #feead0;
  --color-prettylights-syntax-markup-italic:              #feead0;
  --color-prettylights-syntax-markup-list:                #f5e147;
  --color-prettylights-syntax-markup-inserted-text:       #3dd68c;
  --color-prettylights-syntax-markup-inserted-bg:         rgb(61 214 140 / 0.15);
  --color-prettylights-syntax-markup-deleted-text:        #ff9592;
  --color-prettylights-syntax-markup-deleted-bg:          rgb(255 149 146 / 0.15);
  --color-prettylights-syntax-markup-changed-text:        #ffa057;
  --color-prettylights-syntax-markup-changed-bg:          rgb(255 160 87 / 0.15);
  --color-prettylights-syntax-markup-ignored-text:        #11100e;
  --color-prettylights-syntax-markup-ignored-bg:          #feead0;
  --color-prettylights-syntax-brackethighlighter-angle:   #afa391;
  --color-prettylights-syntax-brackethighlighter-unmatched: #ff9592;
  --color-prettylights-syntax-invalid-illegal-text:       #11100e;
  --color-prettylights-syntax-invalid-illegal-bg:         #ff9592;
  --color-prettylights-syntax-carriage-return-text:       #11100e;
  --color-prettylights-syntax-carriage-return-bg:         #ff9592;
  --color-prettylights-syntax-sublimelinter-gutter-mark:  #665f55;

  color-scheme: dark;
}
