---
import AuthorCard from '@/components/AuthorCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllAuthors } from '@/lib/data-utils'

const authors = await getAllAuthors()
---

<Layout>
  <PageHead slot="head" title="Authors" />
  <Breadcrumbs items={[{ label: 'Authors', icon: 'lucide:users' }]} />
  {
    authors.length > 0 ? (
      <ul class="flex flex-col gap-4">
        {authors.map((author) => (
          <li>
            <AuthorCard author={author} />
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-muted-foreground text-center">No authors found.</p>
    )
  }
</Layout>
