[data-bar] {
  @media (width < 64rem) {
    padding-block: var(--space-2xs);
    padding-inline: var(--bar-gutter);
    background-color: color-mix(in oklab, var(--background) 90%, transparent);
    backdrop-filter: blur(var(--blur-sm));
    border-block-end: 2px solid var(--border);
    border-image: var(--bar-border-image);
  }
}
