:root {
  --radius-xs:   0.125rem;
  --radius-sm:   0.25rem;
  --radius-md:   0.375rem;
  --radius-lg:   0.5rem;
  --radius-xl:   0.75rem;
  --radius-2xl:  1rem;
  --radius-3xl:  1.5rem;
  --radius-4xl:  2rem;
  --radius-full: 9999px;

  --blur-xs:  4px;
  --blur-sm:  8px;
  --blur-md:  12px;
  --blur-lg:  16px;
  --blur-xl:  24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;

  --aspect-video: 16 / 9;
}
