prose-content {
  :is(h1, h2, h3, h4, h5, h6) {
    margin-block: 1.5em 0.5em;
    font-weight: var(--font-weight-medium);
    line-height: calc(var(--leading-offset) + 1em);
    color: var(--foreground);
    text-wrap: balance;

    @media (width >= 64rem) {
      scroll-margin-block-start: calc(var(--page-offset-top) - 0.2em);
    }
  }

  :is(h2, h3, h4, h5, h6) {
    .heading-anchor {
      margin-inline-start: 0.5ch;
      color: var(--muted-foreground);
      text-decoration-line: none;
      opacity: 0;
      transition: opacity 0.2s ease;

      &::before {
        content: "#";
      }

      &:hover {
        color: var(--foreground);
      }
    }

    &:is(:hover, :target) .heading-anchor {
      opacity: 1;
    }

    @media (hover: none) {
      .heading-anchor {
        opacity: 1;
      }
    }
  }

  h1 {
    font-size: var(--step-3);
  }

  h2 {
    font-size: var(--step-2);
  }

  h3 {
    font-size: var(--step-1);
  }

  h4 {
    font-size: var(--step-0);
  }

  :is(h5, h6) {
    font-size: var(--step--1);
  }
}
