:root {
  --step--1: clamp(0.8889rem, 0.8542rem + 0.1736vw, 0.9375rem);
  --step-0: clamp(1rem, 0.9107rem + 0.4464vw, 1.125rem);
  --step-1: clamp(1.125rem, 0.9643rem + 0.8036vw, 1.35rem);
  --step-2: clamp(1.2656rem, 1.0125rem + 1.2656vw, 1.62rem);
  --step-3: clamp(1.4238rem, 1.0523rem + 1.8578vw, 1.944rem);

  --font-weight-normal: 400;
  --font-weight-medium: 400;

  --leading-offset: 0.6rem;

  --prose-foreground: color-mix(in oklab, var(--foreground) 80%, transparent);
  --prose-marker:     color-mix(in oklab, var(--foreground) 30%, transparent);

  --measure: 40rem;
}

body {
  font-family: var(--font-sans);
  font-synthesis-weight: none;
  font-variant-numeric: oldstyle-nums;
  text-wrap: pretty;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--underline, transparent);
  text-decoration-thickness: max(1px, 0.0625em);
  text-decoration-skip-ink: none;
  text-underline-position: under;
  text-underline-offset: -0.06em;
  transition:
    color 0.2s ease,
    text-decoration-color 0.2s ease;

  &:hover {
    text-decoration-color: currentColor;
  }
}

prose-content {
  display: block;
  font-size: var(--step-0);
  line-height: calc(var(--leading-offset) + 1em);
  color: var(--foreground);
  text-wrap: pretty;
  overflow-wrap: break-word;

  :where(
      p,
      ul,
      ol,
      blockquote,
      pre,
      table,
      table-scroll,
      figure,
      hr,
      details,
      math-display,
      .expressive-code
    ) {
    margin-block: 0 1em;
  }

  > :first-child {
    margin-block-start: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }

  :is(p, li) {
    color: var(--prose-foreground);
  }
}
