@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 34 54% 60%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 98%;
        --secondary-foreground: 0 0% 9%;

        --tertiary: 0 0% 96.1%;
        --tertiary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 34 54% 45%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 34 54% 81%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 6%;
        --secondary-foreground: 0 0% 98%;

        --tertiary: 0 0% 14.9%;
        --tertiary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 34 54% 81%;

        --radius: 0.5rem;
    }

    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }

    ::-moz-selection {
        background: rgba(233, 211, 182, 0.5);
        color: white;
    }

    ::selection {
        background: rgba(233, 211, 182, 0.5);
        color: white;
    }
}

@layer components {
    /* Targeting inserted/removed lines in codeblocks */
    span[style*='background-color: rgba(233, 211, 182, 0.05)'] > span > .linenumber {
        visibility: hidden;
    }

    span[style*='background-color: rgba(233, 211, 182, 0.05)'] > span > .linenumber:after {
        visibility: visible;
        content: '+';
    }

    span[style*='background-color: rgba(255, 0, 0, 0.1)'] > span > .linenumber {
        visibility: hidden;
    }

    span[style*='background-color: rgba(255, 0, 0, 0.1)'] > span > .linenumber:after {
        visibility: visible;
        content: '-';
    }

    /* Skeleton animation */
    @keyframes skeleton {
        0%,
        100% {
            @apply bg-muted;
        }
        50% {
            @apply bg-secondary;
        }
    }

    /* Table of Contents styling */
    /* Courtesy Gilles Castel, rest in peace (castel.dev) */
    .toc {
        @apply sticky top-16 hidden h-0 w-[calc(50vw-50%-4em)] break-words text-xs xl:block;
        transform: translateX(calc(-100% - 2em)) translateY(2em);
    }

    /* Right-aligned TOC */
    .tocr {
        @apply sticky top-16 ml-auto hidden h-0 w-[calc(50vw-50%-4em)] break-words text-right text-xs xl:block;
        transform: translateX(calc(100% + 2em)) translateY(2em);
    }

    .toc ul li a {
        @apply !text-muted-foreground !no-underline transition-all duration-200;
    }

    .tocr ul li a {
        @apply !text-muted-foreground !no-underline transition-all duration-200;
    }

    /* Highlights the current section in the viewport within the TOC */
    .active-header {
        @apply font-bold brightness-200;
    }

    /* Applies offset when jumping to internal headers */
    h1,
    h2,
    h3 {
        @apply scroll-mt-24;
    }

    /* Bento box layouts */
    .grid-mobile-layout {
        grid-template-areas: 'a a' 'a a' 'b b' 'b b' 'e e' 'h i' 'h c' 'k c' 'd d' 'd d' 'g g' 'g g' 'f f' 'j j' 'j j';
    }

    .grid-sm-layout {
        grid-template-areas: 'a a' 'b d' 'e e' 'j g' 'h i' 'h c' 'k c' 'f f';
    }

    .grid-xl-layout {
        grid-template-areas: 'a a b c' 'd e e c' 'h f f g' 'h i j k';
    }

    @media (min-width: 1280px) {
        .bento:hover:has(> .has-overlay:hover) > .first > .overlay {
            opacity: 1;
        }
    }

    .grid-item-a {
        grid-area: a;
    }
    .grid-item-b {
        grid-area: b;
    }
    .grid-item-c {
        grid-area: c;
    }
    .grid-item-d {
        grid-area: d;
    }
    .grid-item-e {
        grid-area: e;
    }
    .grid-item-f {
        grid-area: f;
    }
    .grid-item-g {
        grid-area: g;
    }
    .grid-item-h {
        grid-area: h;
    }
    .grid-item-i {
        grid-area: i;
    }
    .grid-item-j {
        grid-area: j;
    }
    .grid-item-k {
        grid-area: k;
    }

    /* Grid Items */
    .grid-item-a {
        background-image: url('/static/images/bento/about-square.webp');
    }

    .grid-item-b-overlay {
        background-image: url('/static/images/bento/details.webp');
    }

    .grid-item-c {
        background-image: url('/static/images/bento/image-1.webp');
    }

    .grid-item-e-overlay {
        background-image: url('/static/images/bento/blog-square.webp');
    }

    .grid-item-f-overlay {
        background-image: url('/static/images/bento/contributions-square.webp');
    }

    .grid-item-g-overlay {
        background-image: url('/static/images/bento/spotify.webp');
    }

    .grid-item-h {
        background-image: url('/static/images/bento/image-2.webp');
    }

    .grid-item-i-overlay {
        background-image: url('/static/images/bento/github.webp');
    }

    .grid-item-j {
        background-image: url('/static/images/bento/technologies.webp');
    }

    .grid-item-k-overlay {
        background-image: url('/static/images/bento/twitter.webp');
    }

    /* Responsive Adjustments */
    @media (min-width: 640px) {
        .grid-item-a {
            background-image: url('/static/images/bento/about.webp');
        }

        .grid-item-e-overlay {
            background-image: url('/static/images/bento/blog.webp');
        }

        .grid-item-f-overlay {
            background-image: url('/static/images/bento/contributions.webp');
        }
    }

    @media (min-width: 1280px) {
        .bento:hover > *:not(.first):hover .overlay {
            opacity: 1;
        }
        .grid-item-a-silhouette {
            background-image: url('/static/images/bento/about-silhouette.webp');
        }

        .grid-item-b {
            background-image: url('/static/images/bento/details-silhouette.webp');
        }

        .grid-item-e {
            background-image: url('/static/images/bento/blog-silhouette.webp');
        }

        .grid-item-f {
            background-image: url('/static/images/bento/contributions-silhouette.webp');
        }

        .grid-item-g {
            background-image: url('/static/images/bento/spotify-silhouette.webp');
        }

        .grid-item-i {
            background-image: url('/static/images/bento/github-silhouette.webp');
        }

        .grid-item-k {
            background-image: url('/static/images/bento/twitter-silhouette.webp');
        }
    }
}

@layer utilities {
    .react-activity-calendar {
        @apply size-full scale-150 p-4 sm:scale-110;
    }

    /* Overwriting pliny/search kbar */
    .bg-gray-300\/50.p-4.backdrop-blur.backdrop-filter {
        @apply z-[2];
    }

    .bg-primary-600 {
        @apply !bg-primary/25;
    }

    .bg-gray-300\/50 .overflow-hidden.rounded-2xl.border.border-gray-100 {
        @apply rounded-lg border-border bg-background;
    }

    .bg-gray-300\/50 .space-x-4.p-4 > input {
        @apply rounded-md text-foreground placeholder-muted-foreground;
    }

    .bg-gray-300\/50 .space-x-4.p-4 > input:focus {
        @apply border-primary ring-transparent;
    }

    .bg-gray-300\/50 .space-x-4.p-4 > kbd {
        @apply border-border text-muted-foreground;
    }

    .overflow-hidden.rounded-2xl.border.border-gray-100 .block.border-t.border-gray-100 {
        @apply border-t-border text-muted-foreground;
    }

    /* Hiding the react-activity-calendar skeleton */
    /* article[style*='--react-activity-calendar-level-0:#ebebeb'] {
        @apply hidden;
    } */

    /* <Box> styling */
    .my-6.rounded-lg.p-4.bg-secondary.text-center ul {
        @apply m-0;
    }
}
