---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'
import { Content } from '../content/work.mdx'

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="Work" />
  <div class="mx-auto w-full max-w-[calc(var(--container-3xl)-2rem)]">
    <Breadcrumbs items={[{ label: 'Work', icon: 'lucide:briefcase' }]} />
  </div>

  <section
    class="mx-auto flex max-w-[calc(var(--container-3xl)-2rem)] flex-col gap-4"
  >
    <article class="prose">
      <Content />
    </article>
    <ul class="flex flex-col gap-4">
      {projects.map((project) => (
        <li>
          <ProjectCard project={project} />
        </li>
      ))}
    </ul>
  </section>
</Layout>
