---
import Container from '@/components/Container.astro'
import { SOCIAL_LINKS } from '@/consts'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-4">
  <Container>
    <div
      class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:justify-between"
    >
      <div class="flex items-center">
        <p class="text-center text-sm text-muted-foreground">
          &copy; {new Date().getFullYear()} enscribe
        </p>
      </div>
      <SocialIcons links={SOCIAL_LINKS} />
    </div>
  </Container>
</footer>
