---
import Link from '@/components/Link.astro'
import { NAV_LINKS } from '@/consts'
import { Image } from 'astro:assets'
import logo from '../../public/static/logo.svg'
---

<header transition:persist>
  <div
    class="mx-auto flex max-w-3xl items-center justify-between gap-4 px-4 py-3"
  >
    <Link href="/" class="flex shrink-0">
      <Image src={logo} alt="Logo" class="size-5 sm:size-6" />
    </Link>
    <div class="flex items-center gap-4">
      <nav class="flex items-center gap-6 text-sm">
        {
          NAV_LINKS.map((item) => (
            <Link
              href={item.href}
              class="text-foreground/60 hover:text-foreground/80 capitalize transition-colors"
            >
              {item.label}
            </Link>
          ))
        }
      </nav>
    </div>
  </div>
</header>
