---
import { cn } from '@/lib/utils'

type Props = {
  href: string
  class?: string
  underline?: boolean
  [key: string]: any
}

const { href, class: className, underline, ...rest } = Astro.props
---

<a
  href={href}
  class={cn(
    'inline-block transition-colors duration-300 ease-in-out',
    underline &&
      'underline decoration-muted-foreground underline-offset-[3px] hover:decoration-foreground',
    className,
  )}
  {...rest}
>
  <slot />
</a>
