---
import { cn } from '@/lib/utils'
import Link from './Link.astro'
import type { Heading } from './TableOfContents.astro'

interface Props {
  heading: Heading
  activeSlug?: string
}

const { heading, activeSlug } = Astro.props
const isActive = heading.slug === activeSlug
---

<li
  class={cn(
    'list-inside list-disc px-4 text-xs xl:list-none xl:p-0 xl:max-w-[280px]',
    isActive ? 'text-foreground' : 'text-foreground/60',
    activeSlug && 'text-right',
  )}
>
  <Link
    href={activeSlug ? heading.slug : '#' + heading.slug}
    class="py-1 underline decoration-transparent underline-offset-[3px] transition-colors duration-200 hover:decoration-inherit xl:py-0"
  >
    {heading.text}
  </Link>
  {
    heading.subheadings && heading.subheadings.length > 0 && (
      <ul
        class={cn(
          'translate-x-3 xl:ml-4 xl:mt-2 xl:flex xl:translate-x-0 xl:flex-col xl:gap-2',
          activeSlug && 'xl:ml-0 xl:mr-4',
        )}
      >
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} activeSlug={activeSlug} />
        ))}
      </ul>
    )
  }
</li>
