[data-linebreak-typeset] {
  text-align: start;
  text-wrap: wrap;
  hyphens: manual;
}

[data-linebreak-typeset] > .lb-line {
  display: block;
  text-align: justify;
  text-align-last: justify;
}

[data-linebreak-typeset] > .lb-line-flush {
  text-align-last: start;
}

[data-linebreak-typeset] > .lb-hyphen::after {
  content: "-";
}

[data-linebreak-typeset]
  [data-linebreak-fragment]:not([data-linebreak-fragment-start]) {
  padding-inline-start: 0;
  margin-inline-start: 0;
  border-inline-start-width: 0;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

[data-linebreak-typeset]
  [data-linebreak-fragment]:not([data-linebreak-fragment-end]) {
  padding-inline-end: 0;
  margin-inline-end: 0;
  border-inline-end-width: 0;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
