@layer linebreak.core, linebreak.theme;

@layer linebreak.core {
  [data-linebreak-typeset] {
    & > [data-linebreak-line] {
      display: inline;
      white-space: nowrap;
    }

    & [data-linebreak-fragment] {
      &:not([data-linebreak-fragment-start]) {
        padding-inline-start: 0;
        margin-inline-start: 0;
        border-inline-start-width: 0;
        border-start-start-radius: 0;
        border-end-start-radius: 0;
      }

      &:not([data-linebreak-fragment-end]) {
        padding-inline-end: 0;
        margin-inline-end: 0;
        border-inline-end-width: 0;
        border-start-end-radius: 0;
        border-end-end-radius: 0;
      }
    }
  }
}

@layer linebreak.theme {
  [data-linebreak-typeset] {
    text-align: justify;
    text-align-last: start;
    text-wrap: wrap;
    hyphens: manual;

    & > [data-linebreak-line="hyphen"]::after {
      content: var(--linebreak-hyphen, "\2010");
    }
  }
}
