---
import '@/styles/global.css'
import '@/styles/typography.css'

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<!doctype html>
<html
  class="bg-background text-foreground scheme-dark"
  lang={SITE.locale}
  data-theme="dark"
>
  <Head>
    <slot name="head" />
  </Head>
  <body>
    <div class="flex h-fit min-h-screen flex-col gap-y-6 font-mono">
      <div
        class="bg-background/50 sticky top-0 z-50 divide-y backdrop-blur-sm xl:divide-none"
      >
        <Header />
        <slot name="subposts-navigation" />
        <slot name="table-of-contents" />
      </div>
      <main class="grow">
        <div class={cn('mx-auto flex grow flex-col gap-y-6 px-4', className)}>
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
